[Unit]
Description=Sensor health agent
Afterrr=network-online.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/sensor_agent.py --name sensor   --peers '{"broker":{"ip":"192.168.20.2","check_mqtt":true}, "router":{"ip":"192.168.254.1"}}'   --broker 192.168.20.2 --bind-ip 192.168.10.241 --interval 10 --fail 3 --recover 3
Restart=always
User=root

[Install]
WantedBy=multi-user.target
